name: Laravel

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: database
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - name: Install Composer Dependencies
        run: composer install

      - name: Generate Application Key
        run: |
          cp .env.example .env
          php artisan key:generate
          php artisan migrate --seed

      - name: Wait for MySQL
        run: |
          until mysqladmin ping -h mysql --silent; do
            sleep 1
          done

      - name: Run PHPCS
        run: ./vendor/bin/phpcs

      - name: Run Laravel Tests
        run: php artisan test
